@import "~normalize.css";
@import "~highlight.js/styles/monokai-sublime.css";
@import "font-awesome.css";
@import "layout.css";
@import "header.css";
@import "sidebar.css";
@import "font-page.css";
@import "phantom.css";
@import "button.css";

body {
    background: #f4f4f4;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: color(black lightness(20%));
    margin: 3.5em 0 0 0;
    font-size: 100%;
    line-height: 1.75em;
    font-weight: 400;
}

h1, h2, h3, h4 {
    font-family: Raleway, Helvetica, sans-serif;
    letter-spacing: .25em;
    text-transform: uppercase;
}

h1 {
    font-weight: 300;
    color: #3c3b3b;
}

p {
    margin: 0 0 1em;
    opacity: 0.88;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:any-link {
    color: inherit;
    text-decoration: none;

    &:hover {
        border-bottom-color: transparent;
        color: #2ebaae;
    }

    @nest p & {
        border-bottom: 2px dotted rgba(160, 160, 160, .65);
    }
}
