#intro {
    & .logo {
        border-bottom: 0;
        display: inline-block;
        margin: 0 0 1em;
        overflow: hidden;
        position: relative;
        width: 5em;

        &:before {
            background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100px' height='100px' viewBox='0 0 100 100' preserveAspectRatio='none' zoomAndPan='disable'%3E%3Cpolygon points='0,0 100,0 100,25 50,0 0,25' style='fill:%23f4f4f4' /%3E%3Cpolygon points='0,100 100,100 100,75 50,100 0,75' style='fill:%23f4f4f4' /%3E%3C/svg%3E") no-repeat top left;
            background-size: 100% 100%;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        & img {
            display: block;
            margin-left: -.25em;
            width: 5.5em;
        }
    }

    & h2 {
        font-size: 2em;
        font-weight: 900;
    }

    & ul {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 2.5;
        font-weight: 400;
        font-family: "Raleway";
        letter-spacing: .25em;
        text-transform: uppercase;
        opacity: 0.7;
        font-size: 0.8em;
    }
}


@media screen and (width <= 780px) {
    #intro {
        & h2 {
            font-size: 1.5em;
        }
    }
}

#typed:after {
    opacity: 1;
    animation: blink 1s infinite;
    font-weight: normal;
    content: '|';
    color: color(#2ebaae);
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#footer {
    font-family: Raleway, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: .25em;
    text-transform: uppercase;
    font-size: 0.5em;
    color: #aaa;
    line-height: 1.8em;
    margin-top: 2em;
}

#icons {
    color: #aaa;
    & ul{
        margin: 0;
        padding: 0;
    }
    & li {
        list-style: none;
        display: inline-block;
        padding: 0 1em 0 0;
    }
}
