<section id="icons" class="sidebar">
    <ul>
        <li>
            <a href="https://github.com/amir20" title="Github/amir20" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://stackoverflow.com/users/419075/amir-raminfar" title="StackOverflow/amir-raminfar" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://twitter.com/amirraminfar" title="@amirraminfar" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/amirraminfar" title="LinkedIn/amirraminfar" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
    </ul>
</section>
