@charset "utf-8";

$beige-light: #d1d8e0;
$beige-lighter: #eff0eb;

$grey-light: $beige-light;
$primary: #a55eea;
$success: #26de81;
$link: #4b7bec;
$body-background-color: $beige-lighter;

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/utilities/mixins.sass";

@import "bulma-prefers-dark/sass/utilities/_all";

body {
  font-family: "Roboto", sans-serif;
}

.title,
.subtitle {
  font-family: "Playfair Display", serif;
}

#vis {
  z-index: 1;
  opacity: 0.8;
  position: fixed;
  bottom: -10px;
}

#content {
  position: relative;
  z-index: 2;
}

.wave:nth-of-type(1) {
  fill: #a55eea;
}

.wave:nth-of-type(2) {
  fill: #fed330;
}

.wave:nth-of-type(3) {
  fill: #45aaf2;
}

.wave:nth-of-type(4) {
  fill: #0fb9b1;
}

.button.is-success {
  color: #fff;
  &:hover {
    color: #fff;
  }
}

a:not(.button) {
  text-decoration: underline;
  color: $link;
}

@include prefers-scheme(dark) {
  @import "bulma-prefers-dark/sass/base/_all.sass";
  @import "bulma-prefers-dark/sass/layout/hero.sass";
  @import "bulma-prefers-dark/sass/elements/title.sass";
  @import "bulma-prefers-dark/sass/elements/button.sass";

  .button.is-success {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }

  #vis {
    opacity: 0.88;
  }

  .wave:nth-of-type(4) {
    fill: #0b5f5b;
  }
}
