:root {
    --border-style: solid 1px rgba(160, 160, 160, .3);
}

#wrapper {
    padding: 4em;
    lost-flex-container: row;
}

#side-bar {
    lost-column: 1/3 flex;
}

#main {
    lost-column: 2/3 flex;
}

.article--front-page {
    min-height: 80vh;
    background: #fff;
    border: var(--border-style);
    padding: 3em 3em 1em;
    margin: 0 0 2em;

    & > h1 {
        border-bottom: var(--border-style);
        padding-bottom: .7em;
        font-weight: 900;
        font-size: 1.5em;
    }
}


