:root {
    --border-style: solid 1px rgba(160, 160, 160, .3);
}

body.phantom {
    background: #3b3e43;

    & #intro .logo:before {
        background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100px' height='100px' viewBox='0 0 100 100' preserveAspectRatio='none' zoomAndPan='disable'%3E%3Cpolygon points='0,0 100,0 100,25 50,0 0,25' style='fill:%233b3e43' /%3E%3Cpolygon points='0,100 100,100 100,75 50,100 0,75' style='fill:%233b3e43' /%3E%3C/svg%3E") no-repeat top left;
    }

    & #wrapper, & h1{
        color: #f4f4f4;
    }

    & #wrapper {
        padding: 3em 0 0 3em;
        max-width: none;
        width: auto;

    }

    & main {
        top: -3em;
        position: relative;
        background: color(#2188b6 blackness(30%))
    }

}
